
* {
	margin: 0;
	padding: 0;
}

body {
	background: #E3E3E6 url(images/img01.gif) repeat-x;
	font: normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}

h1, h2, h3 {
	color: #313131;
}

h1 {
	margin-bottom: .5em;
	font-size: 182%;
	font-weight: normal;
	letter-spacing: -2px;
}

h2 {
	margin-bottom: .5em;
	font-size: 136%;
	font-weight: normal;
	letter-spacing: -1px;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

p, blockquote, ol, ul {
	margin-bottom: 1.5em;
	text-align: justify;
	line-height: 160%;
	font-size: 105%;
}

blockquote {
	margin-left: 2em;
}

ol {
	margin-left: 2em;
}

ul {
	list-style: none;
}

ul li {
	padding-left: 1em;

	background: url(images/img07.gif) no-repeat left center;
}

a {
	text-decoration: none;
	color: #313131;
}

a:hover {
	text-decoration: underline;
	color: #DB5600;
}

/* Menu */

#menu {
	width: 740px;
	height: 60px;
	margin: 0 auto;
	border-left: 20px solid #DB5600;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	padding: 0;
	display: inline;
	background: none;
}

#menu a {
	display: block;
	float: left;
	height: 40px;
	padding: 20px 20px 0 20px;
	font-size: 92%;
	font-weight: bold;
}

#menu a:hover {
	background: #DB5600;
	text-decoration: none;
	color: #FFFFFF;
}

#menu b {
	text-decoration: underline;
}

/* Logo */

#logo {
	width: 760px;
	height: 180px;
	margin: 0 auto;
	background: #010100 url(images/img2.jpg)
}

#logo h1 {
	margin: 0;
	padding: 120px 0 0 0;
	text-align: right;
	letter-spacing: -1px;
	font-size: 189%;
}

#logo h2 {
	margin: 0;
	padding: 0 0 0 0;
	text-align: right;
	letter-spacing: -1px;
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 760px;
	margin: 0 auto;
	background: url(images/img03.gif) repeat-y;
}

/* Content */

#content {
	float: left;
	width: 440px;
	padding: 10px 30px 10px 50px;
}

#welcome {
	margin-bottom: 20px;
	padding-bottom: 1px;
	background: url(images/img04.gif) repeat-x left bottom;
}

.floating-box {
	float: left;
	width: 210px;
}

.floating-box p, .floating-box blockquote, .floating-box ol, .floating-box ul {
	line-height: 144%;
	font-size: 92%;
}

.floating-box img {
	border: 2px solid #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 200px;
	padding: 20px;
}

#sidebar blockquote {
	margin-left: 0;
	padding-left: 1em;
	background: url(images/img09.gif) no-repeat right bottom;
	border-left: 5px solid #DB5600;
}

#sidebar blockquote p {
	text-align: left;
	line-height: normal;
	font-style: italic;
}

#links {
}

#links ul {
	background: url(images/img04.gif) repeat-x left bottom;
}

#links li {
	padding: 5px 0;
	background: url(images/img04.gif) repeat-x left top;
}

#links a {
	padding-left: 1em;
	background: url(images/img08.gif) no-repeat left center;
	color: #DB5600;
}

/* Footer */

#footer {
	height: 50px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#footer .wrapper {
	width: 760px;
	margin: 0 auto;
}

#footer .links {
	float: left;
	width: 440px;
	height: 34px;
	padding: 16px 30px 0 30px;
	background: #FFFFFF;
	border-left: 20px solid #010100;
	font-size: 85%;
}

#footer .legal {
	float: right;
	width: 220px;
	height: 34px;
	margin: 0 auto;
	padding: 16px 20px 0 0;
	background: #DB5600;
	text-align: right;
	font-size: 85%;
	color: #FFFFFF;
}
