body {
    padding-top: 51px;
    padding-bottom: 60px;
}
.badge,
.badge-pill,
.btn-rounded {
    border-radius: 4px !important;
    border: none;
}

#hidden-area {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: 350px;
    display: block;
}

.nolink:hover {
    text-decoration: none;
}

.fw-bold {
    font-weight: 600 !important;
}


/* nav tabs */

.tabs {
    overflow: hidden;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab-item {
    margin-right: 5px;
}

.tab-item:hover {
    border-color: rgba(0, 0, 0, 0.02);
}

.btn.tab-item.active {
    border-color: #199de9;
    box-shadow: none;
    outline: none;
}

.tab-hover.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.tab-content {
    display: none;
    padding: 0.5rem 0;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

pre {
    overflow-x: auto;
}

@media only screen and (min-width: 992px) {
    .hidden-on-up {
        display: none;
    }
    .m5x {
        margin-right: 0px;
    }
}
.huge {
    font-size: 40px;
}
.huge .count-all {
    font-size: 20px;
}
.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
