body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 100px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
body, html, input, button, textarea, span, p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input {
    border: 0;
    outline-width: 0 !important;
}

button {
    outline-width: 0 !important;
}

.page-header {
    margin-top: 20px;
}

.breadcrumb {
    border: 1px solid #ddd;
}

.page-wrapper {
    margin-top: 20px;
}

.sidebar {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.section-wrap {
    padding: 10px 0;
}

.margin-auto {
    float: unset;
    margin-left: auto;
    margin-right: auto;
}

.img-avatar {
    width: 100px;
    height: 100px;
}

.home {
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 100%;
    position: relative;
    color: #fff;
    background: #0000008a;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-account {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}

.form-domain {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}

.form-domain input {
    color: #fff;
    background: transparent;
}

.form-domain .form-control:hover {
    color: #333;
    background-color: #fff;
    background-image: none;
}

@media (min-width: 300px) {
    .form-domain {
        min-width: 300px;
    }
}

@media (min-width: 768px) {
    .form-domain {
        max-width: 530px;
    }
}

@media (min-width: 992px) {
    .form-domain {
        max-width: 500px;
    }
}

.language-change {
    max-height: 450px;
    overflow-y: auto;
}

.octocat:hover .octocat-arm {
    animation: wave-arm .56s infinite;
    transform-origin: 13rem 10.6rem
}

.octocat .octocat-arm,
.octocat .octocat-body {
    fill: #f4f5f6
}

@keyframes wave-arm {

    0%,
    50% {
        transform: rotate(0)
    }

    25%,
    75% {
        transform: rotate(-25deg)
    }
}

.footer .co {
    display: inline-block;
}
/* 
pre,
.badge,
.breadcrumb,
.btn,
.dropdown-menu,
.form-control,
.label,
.panel,
.panel-footer,
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */